@{
    ViewData["Title"] = "Home Page";
}

<div class="col-lg-8">
    <h1>Welcome to <span>Wakanda</span></h1>
    <h2>You're almost through customs, time to help us stay safe!</h2>

    <div class="btns">
    <a asp-area="" asp-controller="Exchange" asp-action="Index" class="btn-menu animated fadeInUp scrollto">Validate Vaccination Status!</a>
    </div>
</div>